---
import NavLayout from '../layouts/NavLayout.astro';
import fs from 'fs';
import path from 'path';
import matter from 'gray-matter';

const pageTitle = "Matt Cotte || ✍️ Blog";
const blogDir = './src/pages/blog';
const files = fs.readdirSync(blogDir).filter(file => file.endsWith('.md'));

// Parse frontmatter
const posts = files.map(file => {
  const filePath = path.join(blogDir, file);
  const content = fs.readFileSync(filePath, 'utf-8');
  const { data } = matter(content);

  return {
    ...data,
    url: `/blog/${file.replace('.md', '')}`,
  };
});
---

<NavLayout pageTitle={pageTitle}>
    <div class="text-lg md:text-xl space-y-4 bg-white/5 ml-5 text-white p-10 rounded-4xl box-shadow border-1 border-black">
      <h1 class="text-3xl font-bold">Blog</h1>
    </div>
    <ul class="list-none space-y-4 ml-5 mr-5">
      {posts.map((post, i) => (
        <li class={`border-b-2 p-5 border-black ${ i == 0 ? '' : 'border-t-2'}`}>
          <div class="flex items-baseline space-x-2">
            <span class="text-sm text-gray-500">
              {new Date(post.pubDate).toLocaleDateString()}
            </span>
            <a href={post.url} class="text-xl text-blue-600 hover:underline">
              {post.title}
            </a>
          </div>
        </li>
      ))}
    </ul>
</NavLayout>



