---
import NavLayout from '../layouts/NavLayout.astro';
---

<NavLayout pageTitle="Matt Cotter | Portfolio">
  <section class="pt-6">
    <h1>Portfolio</h1>
    <p>Coming soon.</p>
  </section>
</NavLayout>
