---
import NavLayout from '../layouts/NavLayout.astro';
---

<NavLayout pageTitle="Portfolio">
  <div class="text-lg md:text-xl space-y-4 bg-white/5 md:ml-5 text-white p-10 rounded-4xl box-shadow border-1 border-black">
    <h1>Portfolio</h1>
  </div>
  <section class="pl-15 pr-15 pb-10 pt-10">
    <h2>Coming Soon</h2>
  </section>
</NavLayout>
